body { font-size: 12px; color: #815849; background: #EBC086; }

h1 { color: #815849; }
h2 { color: #815849; }

a         { color: #815849; }
a:link    { color: #815849; }
a:visited { color: #683D2D; }
a:hover   { color: #683D2D; }
a:active  { color: RED;     }
a.CURLIST { background: #EBC086 }

.LIST
{
	MARGIN-LEFT: 15px;
	CURSOR: hand;
	TEXT-INDENT: -15px;
}

.PARENT-SHOWN
{	
	MARGIN-LEFT: 15px;
	CURSOR: hand;
	TEXT-INDENT: -15px;
}

IMG
{
	
}

.PARENT-HIDDEN
{	
	MARGIN-LEFT: 15px;
	CURSOR: hand;
	TEXT-INDENT: -15px;
}

.KID
{	
	color: #C0C0C0
	MARGIN-LEFT: 15px;
	CURSOR: hand;
	TEXT-INDENT: -10px;
}

#TOP
{
	FONT-WEIGHT: BOLD;
}

.TOPLIST
{
	MARGIN-LEFT: 5px;
	TEXT-INDENT: -5px;
}

UL
{
    MARGIN-TOP: 5px;
    CURSOR: default;
    LEFT: 0px;
}

.LISTIMAGE
{
    margin-left: -6; 
}

.HIDDEN
{
	DISPLAY: none;
}

.SHOWN
{
	DISPLAY: list;
}
