body { font-family: Verdana, Arial, sans-serif; }
p    { font-family: Verdana, Arial, sans-serif; font-size: 100%; margin-left: 10%; margin-right: 10% }
h1   { color:black; font-family: Verdana, Arial, sans-serif; font-size: 150%; font-weight: bold; margin-left:  2%; margin-right: 10%;}
h2   { color:black; font-family: Verdana, Arial, sans-serif; font-size: 125%; font-weight: bold; margin-left:  4%; margin-right: 10%;}
h3   { color:black; font-family: Verdana, Arial, sans-serif; font-size: 110%; font-weight: bold; margin-left:  6%; margin-right: 10%;}
dl   { color:black; font-family: Verdana, Arial, sans-serif; font-size: 100%; margin-left: 10%; margin-right: 10%;}

a { font-family: Verdana, Helvetica, sans-serif; color: black; text-decoration: none; }

a:link    { color: blue;   text-decoration: underline }
a:visited { color: purple; text-decoration: underline }
a:active  { color: purple; text-decoration: underline }
a:hover   { text-decoration: underline }

